 body { margin: 0; text-align: center; }
 section { min-height: 100vh; padding: 1px; }
 
 .main section {
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat; 	
}
 
 #section-1 { 
	background-image: url('../galeria/grandes/auricular1.jpg');
}
 #section-2 { 
	background-image: url('../galeria/grandes/camara2.jpg'); 
}
 #section-3 { 
	background-image: url('../galeria/grandes/camara3.jpg'); 
}
 #section-4 { 
	background-image: url('../galeria/grandes/heolica.jpg'); 
	}
 #section-5 { 
	background-image: url('../galeria/grandes/nudo.jpg');
}
 #section-6 { 
	background-image: url('../galeria/grandes/san-pablo.jpg');
}