@import url(css/normalize.css);
@import url(css/grid.css);
@import url(css/base.css);

/* Estilos del proyecto */

.title {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 2px solid silver;
	text-align: center;
	line-height: 80px;	
	font-size: 40px;
	font-weight: bold;
	color: silver;
}

.theMenu {
	line-height: 40px;
}

.theMenu a{
	color: grey; 
}

.theMenu a:hover {
	color: black;
	font-weight: bold;
}

.images img {
	border: 2px solid silver;
	width: 100%;
}

.txtCols {
	text-align: justify;
}

.txtCols p {
	overflow: hidden;
}

.banner {
	position: relative;
	left: 0; right: 0;
	background-image: url(img/banner.jpg);
	background-size: cover;
	height: 200px;
	margin: 10px auto 20px auto;
	-webkit-filter: grayscale(100%); filter: grayscale(100%);
}

.banner:hover {
-webkit-filter: grayscale(0); filter: grayscale(0);
}

.separation {
	height: 80px; 
}

.theFooter {
	font-weight: bold;
	background: black;
	color: white;
	width: 100%;
	line-height: 40px;
	position: fixed;
	bottom: 0;
}

/*****************************
	MEDIA QUERIES BREAKPOINTS
*****************************/

/* para pantallas menores o iguales a 1024px de ancho */
@media only screen and (max-width: 1024px) {
	
}
@media only screen and (max-width: 768px){
	
}
@media only screen and (max-width: 480px) {
	
}

/* Para la transicion */
	.bg-image {
		width: 300px; align: inline-block; margin: 0 auto;
		border: 1px solid black;
		width: 300px;
		height: 300px;
		background-color: rgba(125, 125, 125, 0);
		background-image:url(img/1grey.jpg);
		background-size: cover;
		overflow: hidden;
	}
	
	.info {
		display: flex;
		justify-content: center;
		color:white;
		size: 20px;
		position: relative;
		left:-300px;
		transition: all 1s ease-out;
		background-image:url(img/1.jpg);
		background-size: cover;
		height: 300px;
	}
	.bg-image:hover .info {
		left: 0px;
	}
	
	.text-info {
		text-align: center;
		border-radius: 25px; 
		background-color: rgba(125, 0, 0, 0.5);
		width: 50px;
		height: 20px;
	}
	
.container a {
	text-decoration: none; color: black;
}

.remodal {
	border: 2px solid green;
	border-radius: 25px;
	background: #FFFFCC;
}

.remodal .bg-image {
	border-radius: 25px; 
	box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.75);
}

.remodal1 .bg-image {
	border: 2px solid red;
}

.remodal2 .bg-image {
	border: 2px solid green;
}